* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-weight: 400;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}

main {
  display: flex;
  flex-direction: column;
  background: black;
  position: relative;
  color: white;
  height: 100%;
  gap: 40px;
  padding: 40px;
}

h1 {
  font-weight: bold;
  color: blanchedalmond;
}

h4 {
  font-size: 20px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  background: lightgreen;
  color: #000;
  border: none;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  min-width: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-destructive {
  background: red;
  color: white;
}

#container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: calc(100% - 500px);
  overflow-y: scroll;
  gap: 40px;
}

#questions {
  & .title {
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
  }

  & .question-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    & .question-item {
      border: 1px solid rgb(70, 70, 70);
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      & h4 {
        font-size: 20px;
      }
    }

    & .question-item:hover,
    .question-item:active {
      border: 1px solid white;
      transition-duration: 500ms;
    }

    & .question-item button.btn {
      margin-top: auto;
    }
  }
}

#console {
  position: fixed;
  left: 0;
  z-index: 100;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px 20px 0 0;
  padding: 14px 20px;
  height: 400px;

  & .console-top {
    display: flex;
    align-items: center;
    gap: 10px;

    & .title {
      color: #000;
      font-weight: bold;
    }

    & .btn {
      margin-left: auto;
    }

    & div.left {
      gap: 4px;
      display: flex;

      & span.circle:nth-child(1) {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: red;
      }

      & span.circle:nth-child(2) {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: gold;
      }

      & span.circle:nth-child(3) {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: lightgreen;
      }
    }
  }

  & .console-container {
    height: 100%;
    overflow-y: scroll;

    & .console-output {
      font-size: 20px;
      color: black;
      display: block;
    }
  }
}

@media (max-width: 1536px) {
  #questions .question-container {
    grid-template-columns: repeat(3, 1fr);

    & .question-item h4 {
      font-size: 20px;
    }
  }

  #container {
    height: calc(100% - 450px);
  }

  #console {
    height: 375px;

    & .console-container .console-output {
      font-size: 18px;
    }
  }

  .btn {
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  #questions .question-container {
    grid-template-columns: repeat(2, 1fr);

    & .question-item h4 {
      font-size: 18px;
    }
  }

  #container {
    height: calc(100% - 400px);
    gap: 30px;
  }

  #console {
    height: 325px;
  }

  .btn {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  #questions .question-container {
    grid-template-columns: repeat(1, 1fr);

    & .question-item h4 {
      font-size: 16px;
    }
  }

  #container {
    height: calc(100% - 375px);
    gap: 20px;
  }

  #console {
    height: 275px;

    & .console-container .console-output {
      font-size: 16px;
    }
  }

  main {
    padding: 20px;
    gap: 20px;
  }

  .btn {
    font-size: 16px;
  }
}
